.content {
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 15px;

}

.skillSection {
    width: 45%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;

}


.sectionHeading {
    display: flex;
    flex-flow: column;
    align-content: center;
}

.resumeSection {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

